{% extends "base.html" %}
<br />
{% load bootstrap4 %}
<br />
{% block title %}User Registration{% endblock title %} {% block sidenav %}
<li><a href="/">Home</a></li>
{% endblock sidenav %}
<br />
{% block content %}
<div class="container-fluid mt-5 mb-3">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 class="text-center text-uppercase mb-3">
            <b>Inscription de l'utilisateur</b>
          </h4>
          <p>
            Entrez votre nom d'utilisateur et votre mot de passe pour vous
            inscrire.
          </p>
          <form method="post" action="">
            {% bootstrap_form_errors form %} {% bootstrap_form form %}

            <button type="submit" class="btn btn-secondary btn-block">
              Enregister
            </button>
            <input type="hidden" name="next" value="{{ next }}" />
            {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
