 {% extends "base.html" %}
 {% load static %}

 {% block title %} Accueil {% endblock title %}

{% block content %}
 <div class="home">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-md-10 heading-primary">
            <h1 class="h2 text-white display-6 heading-primary--main">
              bienvenue à ANSOU COMPANY LTD | AGENCE DIGITALE!
            </h1>
            <p class='text-white mb-3 heading-primary--sub'>Nous sommes une équipe de professionnels passionnés de marketing et de technologie, spécialisés dans l'aide aux entreprises pour atteindre leurs objectifs de croissance en ligne. Nous proposons une large gamme de services de marketing digital pour aider nos clients à se démarquer sur internet et à atteindre leur cible de clientèle.</p>
            
            <a href="{% url 'contact' %}" class="btn btn--animated btn--brand">nous contacter</a>
        </div>
      </div>
    </div>
  </div>

 <section id="services">
    <div class="container">
       <div class="row">
          <div class="col-12 section-intro">
             <h1 class="h3">Nos Services</h1>
             <div class="hline"></div>
          </div>
       </div>
       
       <div class="row justify-content-center">
         {% for service in services %}
          <div class="col-lg-4 col-sm-8 p-4 box">
             <div class="icon-box">
                <i class='bx bxs-landscape'></i>
             </div>
             <h4 class="title-sm mt-4">{{service.title}}</h4>
             <p>{{service.description}}</p>
          </div>
          {% endfor %}
       </div>
    </div>
 </section>

<section id="wrapper">
   <div class="container">
      <div class="row">
         <div class="col-12 section-intro">
            <h1 class="h3">Nos Tarifs</h1>
            <div class="hline"></div>
         </div>
      </div>
      <div class="row justify-content-center ">
         {% for tarif in tarifs %}
         <div class="col-lg-4 col-sm-8">
            <!--debut-->       
            <div class="card-wrapper">
               <div class="front-card">
                  <div class="card__picture card__picture--1">
                                    
                  </div>
                  <h4 class="card__heading">
                     <span class="card__heading-span card__heading-span--1">{{tarif.title}}</span>
                        
                  </h4>
                  <div class="card__details">
                      {% autoescape off %}
                     <ul>
                        {{tarif.description}}
                     </ul>
                     {% endautoescape%}
                  </div>
               </div>
               <div class="back-card">
                  <div class="card__cta">
                     <div class="card__price-box">
                        <p class="card__price-only">Seulement</p>
                        <p class="card__price-value">${{tarif.prix}}</p>
                        <a href="{% url 'contact' %}" class="btn btn--brand">choisir</a>
                     </div>
                  </div>
               </div>
            </div>
            <!--fin-->
         </div>
         {% endfor %}

      </div>
   </div>
 </section>

 <section id="description">
    <div class="container">
       <div class="row align-items-center">
          <div class="col-lg-4">
             <img src="{% static 'img/hero_img.jpg' %}" alt="" class="rounded">
          </div>
          <div class="col-lg-6 offset-lg-1 des_text">
            <div class="col-12 section-intro">
               <h1 class="h3">Pourquoi nous choisir ? </h1>
               <div class="hline"></div>
            </div>
            <p class='m-3'>Nous sommes une équipe de professionnels passionnés et dévoués, et nous nous engageons à fournir un service de qualité à chaque client. Nous sommes toujours disponibles pour répondre à vos questions et pour vous aider à atteindre vos objectifs de croissance en ligne.</p> 
            <div class="des_btn">
               <a href="{% url 'contact' %}" class="btn btn--brand ">je veux le mien </a> 
            </div>
            
          </div>
       </div>
    </div>
</section>
<section id="cta" class="py-5">
   <div class="container py-4">
      <div class="row cta_row">
         <div class="col-md-6 ">
            <h3 class="text-white cta_text">Construisons quelque chose d'exceptionnel.</h3>
         </div>
         <div class="col-auto">
            <a href="{% url 'contact' %}" class="btn  btn-light ">Commençons</a>
         </div>
      </div>
   </div>
</section>
 {% endblock content %}
